<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../usuario/usuario.css">
    <title>Document</title>
</head>
<body> 
    <nav class="nav">

    </nav>
     <% if (mensagem) { %>
    <p style="color: green; margin-left:60%; font-size:30px;"><%= mensagem %></p>
    
<% } %>

    <form action="/logar/usuario" method="post">
        <h1 class="login_cli"> Login Do Cliente </h1>
        
   
        
        <br>
        <div class="email">
        <label>Email:</label>
        <input type="email" name="email" placeholder="digite seu email">
        </div>
        <br>
        <div class="senha">
        <label>Senha</label>
        <input type="password" name="senha" placeholder="digite sua senha">
        </div>
        <button type="submit">Logar</button> 

    </form>
    <div  class="link_a">
    <a>Tem cadastro ?<a class="a" href="/pagina/cadastro/usuario"> Cadastrece Aqui</a></a>
</div>

<footer class="footer">

</footer>
    
</body>
</html>































